apiVersion: apps/v1
kind: Deployment
metadata:
  name: cloud-node-api
spec:
  replicas: 2
  selector:
    matchLabels:
      app: cloud-node-api
  template:
    metadata:
      labels:
        app: cloud-node-api
    spec:
      containers:
      - name: app
        image: bhoomika714442/cloud-node-api:latest
        ports:
        - containerPort: 3000
        readinessProbe:
          httpGet:
            path: /
            port: 3000
          initialDelaySeconds: 5
          periodSeconds: 5
        livenessProbe:
          httpGet:
            path: /
            port: 3000
          initialDelaySeconds: 10
          periodSeconds: 10
