name: CI/CD Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Login to DockerHub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build and Push Docker Image
      uses: docker/build-push-action@v5
      with:
        context: .
        push: true
        tags: |
          bhoomika714442/cloud-native-node-api:latest
          bhoomika714442/cloud-native-node-api:${{ github.run_number }}

    - name: Update Kubernetes Deployment Image
      run: |
        sed -i "s#bhoomika714442/cloud-native-node-api:latest#bhoomika714442/cloud-native-node-api:${{ github.run_number }}#g" deployment.yaml

    - name: Apply Kubernetes Deployment
      uses: azure/k8s-deploy@v4
      with:
        manifests: |
          deployment.yaml
        images: |
          bhoomika714442/cloud-native-node-api:${{ github.run_number }}
