name: CI/CD Pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build_and_push:
    name: Build & Push Docker Image
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build & Push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: |
            bhoomika714442/cloud-native-node-api:${{ github.run_number }}
            bhoomika714442/cloud-native-node-api:latest

      - name: Save image tag
        run: echo "IMAGE_TAG=${{ github.run_number }}" >> $GITHUB_ENV


  deploy:
    name: Deploy to Kubernetes
    needs: build_and_push
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up kubectl
        uses: azure/setup-kubectl@v3
        with:
          version: 'latest'

      - name: Configure kubeconfig
        run: |
          mkdir -p ~/.kube
          echo "${{ secrets.KUBE_CONFIG }}" > ~/.kube/config

      - name: Replace image tag
        run: |
          sed -i "s|bhoomika714442/cloud-native-node-api:latest|bhoomika714442/cloud-native-node-api:${IMAGE_TAG}|g" deployment.yaml
          cp deployment.yaml deploy-${IMAGE_TAG}.yaml

      - name: Deploy to cluster
        run: |
          kubectl apply -f deploy-${IMAGE_TAG}.yaml
          kubectl rollout status deployment/cloud-node-api --timeout=120s
